name: Deploy Countdown

on:
  push:
    branches:
      - main
    paths:
      - '2025 Countdown/countdown/**'
  workflow_dispatch:

# Grant GITHUB_TOKEN the permissions to deploy to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: '2025 Countdown/countdown/package-lock.json'

      - name: Install dependencies
        run: npm ci
        working-directory: '2025 Countdown/countdown'

      - name: Build
        run: npm run build
        working-directory: '2025 Countdown/countdown'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_OWNER: ${{ github.repository_owner }}
          GITHUB_REPO: ${{ github.event.repository.name }}
      
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
           path: '2025 Countdown/countdown/out'

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
